* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.parent{
    display: flex;
}
.box {
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: 1rem;
}

@media screen and (max-width: 1000px) {
    .parent{
       flex-direction: column;
    }
  .box {
    background-color: red;
  }
}

@media screen and (max-width: 600px) {
    .box {
      border-radius: 100%;
    }
    .hide_sm{
        display: none;
    }
  }